= f.label :preferred_hide_on_expire, t(:hide_on_expire)
= f.check_box(:preferred_hide_on_expire)

= f.label :preferred_prevent_buying_on_expire, t(:prevent_buying_on_expire)
= f.check_box(:preferred_prevent_buying_on_expire)